[Unit]
Description=Prometheus
After=network.target
After=docker.service
Requires=docker.service

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/local/bin/prometheus.sh

[Install]
WantedBy=multi-user.target
